@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.hero-section{
    background-color:  #264653;
    
}
.btn-header{
    color: white;
    background-color:  #E76F51;
    Width : 168px;
    Height : 44px;
    border: none;
    border-radius: 10px;
}
.modal-body, .modal-title{
    text-align: center;
    color: Red;
}
.feature-img {
    filter: grayscale(100%);
  }
.dual-header{
    color:#E76F51; ;
}