@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.hero-section{
    background-color:  #264653;
    
}
.btn-header{
    color: white;
    background-color:  #E76F51;
    Width : 168px;
    Height : 44px;
    border: none;
    border-radius: 10px;
}
.modal-body, .modal-title{
    text-align: center;
    color: Red;
}
.featured-paragraph{
    color:#E76F51; 
    text-decoration: underline;
    font-weight: 700;
}
.feature-img {
    filter: grayscale(100%);
  }

.dual-header{
    color:#E76F51; 
}
.rating{
    color: #E77C40;
}
.client-name{
     color: #23A6F0;
     font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.client-profession{
    color: #252B42;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.footer-bg{
    background: #0B0D17;
    color: #D9DBE1 ;
}
.footer-menu{
    list-style: none;
}